{% extends "base.html" %}
{% block content %}

<html lang="en">
<head>
    <h1>About us</h1>
</head>
<body>
<div>
    <h2>The Project</h2>
    <p>The USI help system is the result of a project for the CS 478 Software Development class taught by Dr. Bruce Mabis.
    </p>
    <h2>The System</h2>
    <p>The USI help system is a generalized help system focused on computer hardware troubleshooting. To use the system,
        pick a hardware category from the menu, then pick the specific model you wish to know about. If the database does
        not have the answer you need, then you can submit more information on that page or contact the developers for further help.
    </p>

    <h2>The Team</h2>
    <ul>
        <li>Team Leader: Wayne Tharp</li>
        <li>Backend Development: Ben Brown, Noah Estel</li>
        <li>Frontend Development: Mitchell Powers</li>
    </ul>
</div>
</body>
</html>

{% endblock %}