<!DOCTYPE html>
<!-- these are Jinja2 templates -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}} - USI Help System</title>
    {% else %}
    <title>Welcome to the USI Help System</title>
    {% endif %}
</head>
<body>
<!-- fixing github -->
<div>USI Help System:
    <a href="{{url_for('index')}}">Home</a>
    <a href="/about">About Us</a>
    <a href="/form">Contact Us</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    {% if 'username' in session %}
    <p>You are logged in as {{ session['username'] }}</p>
    {% endif %}
</div>
<hr>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}

</body>
</html>
