{% extends "base.html" %}
{% block content %}

<h1>Hello, World!!!</h1>
<form action="" method="post" name="post">
    {{ form.hidden_tag() }}
    <p>{{form.item(size=30,maxlength=140)}}</p>
    <p>
    {% for error in form.item.errors %}
    <span style="color:red;">[{{error}}]</span><br>
    {%endfor%}
    </p>
    <p><input type="submit" value="Add Item"></p>
</form>
<p>Items of interest include:</p>
<ul>
    {% for item in itemsOfInterest %}
    <li>
        <form action="" method="post" name="post">
            {{ form.hidden_tag() }}
                 {{item.item}}
            <input type="submit" value="Delete Item">
            <input type="hidden" name="id" value="{{ item.id }}"></form>
    </li>
    {% endfor %}
</ul>

{% endblock %}