{% extends "base.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/Index.js"></script>

<head>
    <link rel="stylesheet" href="static/bootstrap/css/bootstraplogin.css">
    <style>
        form {display: inline-block;
              text-align: center;
             }
        input{margin-left:50px}
        body {background-color:#dcdcdc}

    </style>
</head>
<body>


<div id="logdiv" style="margin:auto;width:30%;padding:50px 0">
<h1>Dare you enter my magical realm?</h1>
    <form method="post" action="/authenticate">
          <label for="username">Username:</label>
          <input type="text" name="username"><br /><br />
          <label for="password">Password:</label>
          <input type="password" name="password"><br /><br />
          <input type="submit">
</form>
</div>
</body>

{% endblock %}
