{% extends "base.html" %}
{% block content %}

<h1 style="align-self: center">Parts</h1>
<form action="" method="post" name="post">
    <div class="col-md-3">
        <input type="hidden" name="changeModelParts"/>
            <h2>Please select the Model</h2>
                <select name="selectedModel">
                    {% for node in models %}
                        <option>
                            {% if node.nodeType()=="Category" %}
                                {{ node.payload.name }}
                            {%endif%}
                        </option>
                    {% endfor %}
                </select>
        <input type="submit" value="Submit Model" id="category" name="category"/>
    </div>
</form>
<form action="" method="post" name="post">
    <div class="col-md-3">
        <input type="hidden" name="Part"/>
            <h2>Please select the Part you need!</h2>
                <select name="selectedPart">
                    {% for node in parts %}
                        <option>
                            {% if node.nodeType()=="Category" %}
                                {{ node.payload.name }}
                            {%endif%}
                        </option>
                    {% endfor %}
                </select>
        <input type="submit" value="Submit Part" id="category" name="category"/>
    </div>
</form>

{% endblock %}