{% extends "base.html" %}
{% block content %}

<h1>Problems</h1>
<form action="" method="post" name="post">
    <div class="col-md-3">
        <input type="hidden" name="changeModelProblems"/>
            <h2>Please select the Model</h2>
                <select name="selectedModel">
                    {% for node in models %}
                        <option>
                            {% if node.nodeType()=="Category" %}
                                {{ node.payload.name }}
                            {%endif%}
                        </option>
                    {% endfor %}
                </select>
        <input type="submit" value="Submit Category" id="category" name="category"/>
    </div>
</form>
<form action="" method="post" name="post">
    <div class="col-md-3" id="problems" name="problems">
        <input type="hidden" name="Problem">
            <h2>Please select the Problem!</h2>
                <select name="selectedThing">
                    {%  for node in problems%}
                        <option>
                            {% if node.nodeType()=="Problem" %}
                                    {{ node.payload.problem }}
                            {% endif %}
                        </option>
                    {%  endfor %}
                </select>
        <input type="submit" value="Submit" id="category" name="category"/>
    </div>
</form>
<form action="" method="post" name="post">
<div class="col-md-3" id="solution" name="solution">
    <input type="hidden" name="Solution">
    <h2>Below is your estimated Solution!</h2>
    <h3>{{ answer }}</h3>
    <hr>
    <h2>If your solution isn't listed, please <a href="/form">contact us</a> via our contact page!</h2>
    </div>
</form>
{% endblock %}