{% extends "base.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/Index.js"></script>

<style>
        form {display: inline-block;
              text-align: center;
             }
        label{float:left}
        body {background-color:#dcdcdc}

</style>
<body>

<div id="regdiv" style="margin:auto;width:30%;padding:50px 0">
<h1>Register your shit mon</h1>
    <form method="post" action="/registersubmitted">
    <div style="float:left;margin-right:50px" id="labels">
        <label for="username">Username:</label><br /><br />
        <label for="email">Email address:</label><br /><br />
        <label for="password">Password:</label>
    </div>
    <div style="float:right" id="inputs">
        <input type="text" name="username"><br /><br />
          <input type="email" name="email"><br /><br />
          <input type="password" name="password"><br /><br />
          <input type="submit">
    </div>


        </form>
</div>
</body>
{% endblock %}