{% extends "base.html" %}
{% block content %}
<h1>Register your shit mon</h1>

<form method="post" action="/registersubmitted">
          <label for="username">Username:</label>
          <input type="text" name="username"><br />
          <label for="email">Email address:</label>
          <input type="email" name="email"><br />
          <label for="password">Password:</label>
          <input type="password" name="password"><br />
          <input type="submit">
        </form>
{% endblock %}