{% extends "base.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/Index.js"></script>

<div id="main">
       <p>Your part should be sent to the address below in 5-7 business days!:</p>
       <p>
          <strong>Name</strong>: {{name}} <br>
          <strong>Address</strong>: {{address}}
       </p>
</div>

{% endblock %}